html, body {
  padding: 0;
  margin: 0;
}

.main {
  padding-top: 7em;
}

.wide-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.main.wide-container {
  height: 100%;
}

.wide-container > .content {
  height: 100%;
}

.wide-container > .content > .column {
  height: 100%;
  overflow-y: scroll;
}

pre code.hljs {
  text-wrap: wrap;
}

.val-reason {
  text-wrap: wrap;
}
